# SMTP
SMTP_HOST=mail.hublinkexpress.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noreply@hublinkexpress.com
SMTP_PASS=your_smtp_password_here

# MongoDB
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.dkwwo.mongodb.net/hublinkexpress?retryWrites=true&w=majority

# App
PORT=5000
